[core]
excludesfile = ~/.gitignore      # valid everywhere

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[fetch]
	prune = true
[alias]
	st = status
	lg = log --oneline
	br = branch
	co = checkout
	cm = commit
	df = diff
	dfh = diff HEAD
	sw = switch

[includeIf "gitdir:~/proj/"] # work repos
	path = ~/proj/.gitconfig.work
 
[includeIf "gitdir:~/personal-repos/"] # personal repos
	path = ~/personal-repos/.gitconfig.pers

[color]
	ui = true
[lfs]
	concurrenttransfers = 6
